/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* BEGIN: base styles */
body {
    font-size: 20px;
    color: #292929;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    color: #b53c4a;
}

a {
    text-decoration: none;
    color: #fb6d7d;
}
/* END: base styles */

/* common styles for watercolor in header and footer */
header, footer{
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 299px;
    display: flex;
    align-items: baseline;
    padding: 0 50px;
}

/* BEGIN: header styles */
header h1 {
    font-size: 4em;
    margin-top: auto;
    bottom: -30px;
    position: relative;
}

header nav {
    margin-top: auto;
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin-left: 50px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav a {
    font-size: 1.4em;
}

header nav li a:hover, #contact-me a:hover {
    text-decoration: underline #b53c4a;
}
/* END: header styles */

/* BEGIN: common main styles */
main {
    padding-top: 40px;
    max-width: 90%;
    margin: 0 auto;
}

main section {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

main section h2 {
    font-size: 2.5em;
    width: 300px;
    margin-right: 60px;
    flex-shrink: 0;
}
/* END: common main styles */

/* BEGIN: about me styles */
#about-me p {
    margin-bottom: 1.4em;
    line-height: 1.4em;
}

#about-me img {
    height: 200px;
    border: 1px solid #666;
    border-radius: 20px;
    margin-left: 40px;
}
/* END: about me styles */

/* BEGIN: grid styles */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    gap: 20px 20px;  
}

.projects a {
    height: 200px;
    border: 1px solid #666;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.5;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 250ms opacity;
}

.projects a:hover {
    opacity: 1;
}

.label {
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 7px 10px 7px 28px;
    background-color: #666;
    color: #FFFFFF;
    font-size: 0.75em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.label h3 {
    color: #FFFFFF;
    font-size: 1.75em;
}

.label p {
    margin-bottom: 0;
}

.projects .run-buddy {
    background-image: url(../images/projects/run-buddy.png);
    background-size: cover;
}

.projects .stargazr {
    background-image: url(../images/projects/stargazr.jpg);
    background-size: cover;
}

.projects .mixer {
    background-image: url(../images/projects/mixer.jpg);
    background-size: cover;
}

.projects a.showcase {
    grid-row: span 2;
    grid-column: span 2;
    height: 100%;
}
/* END: grid styles */

/* BEGIN: footer styles */
footer {
    transform: rotate(180deg);
    position: relative;
}

.footer-text {
    transform: rotate(180deg) translateX(-50%);
    position: absolute;
    top: 75px;
    right: 50%;
}
/* END: footer styles */

/* break point to avoid header h1 and nav collision */
@media screen and (max-width: 1360px) {
    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    header nav {
        margin-left: 0;
        margin-top: 120px;
        position: relative;
        bottom: -30px;
    }
}

/* break point for tablet size */
@media screen and (max-width: 900px) {
    main section {
        flex-direction: column;
        align-items: center;
    }

    main section h2{
        width: auto;
        margin-right: 0;
    }

    #about-me img {
        order: -1;
        margin: 0 0 50px 0;
    }
}

/* break point for phone size */
@media screen and (max-width: 675px) {
    html, body{
        width:100%;
        overflow-x:hidden;
    } 

    header {
        align-items: center;
        text-align: center;
    }

    header nav {
        bottom: 0;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav li {
        align-items: center;
        margin: 5px 0;
    }

    main {
        padding-top: 200px;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .projects a {
        grid-column: span 1 !important;
    }

    .label {
        padding: 7px 10px 7px 15px;
    }

    .footer-text {
        text-align: center;
    }
   
}