* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    font-size: 20px;
    color: #292929;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    color: #b53c4a;
}

a {
    text-decoration: none;
    color: #fb6d7d;
}

header, footer{
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 299px;
    display: flex;
    align-items: baseline;
    padding: 0 20px;
}

header h1 {
    font-size: 4em;
    margin-top: auto;
    bottom: -30px;
    position: relative;
}

header nav {
    margin-top: auto;
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin-left: 50px;
}

main {
    padding-top: 40px;
    max-width: 90%;
    margin: 0 auto;
}

main section {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

main section h2 {
    font-size: 2.5em;
    width: 300px;
    /* text-align: right; */
    margin-right: 60px;
    flex-shrink: 0;
}

main section p {
    margin-bottom: 1.4em;
    line-height: 1.4em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    gap: 20px 20px;  
}

.projects a {
    height: 200px;
    border: 1px solid #666;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.5;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 250ms opacity;
}

.projects a:hover {
    opacity: 1;
}

.label {
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 7px 10px 7px 28px;
    background-color: #666;
    color: #FFFFFF;
    font-size: 0.75em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.label h3 {
    color: #FFFFFF;
    font-size: 1.75em;
}

.label p {
    margin-bottom: 0;
}

.projects .run-buddy {
    background-image: url(../images/projects/run-buddy.png);
    background-size: cover;
}

.projects a.showcase {
    grid-row: span 2;
    grid-column: span 2;
    height: 100%;
}

#contact-me ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#contact-me li {
    margin-right: 50px;
}

footer {
    transform: rotate(180deg);
    position: relative;
}

.footer-text {
    transform: rotate(180deg);
    position: absolute;
    top: 75px;
    right: 700px;
}